@import "../../styles/variables.scss";

.header {
  width: 100%;
  height: $header-height;
  z-index: 4;

  @media (max-width: 899px) {
    height: $header-mobile;
    padding-top: 8px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    z-index: 2;

    @media (max-width: 899px) {
      z-index: 3;
    }
  }

  position: fixed;
  top: 0;
  left: 0;

  color: white;
  padding: 10px;
  padding-top: 16px;

  &-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;

    &__logo {
      z-index: 3;
      font-weight: 700;
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }

  &__nav {
    display: flex;
    z-index: 2;
    flex-direction: row;
    align-items: center;

    @media (max-width: 899px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $light-color;
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;
      font-size: 2rem;
      transition: all 0.3s ease;

      &_active {
        top: 0;
      }
    }
  }

  &__burger {
    display: none;

    @media (max-width: 899px) {
      display: block;
      position: relative;
      cursor: pointer;
      width: 30px;
      height: 25px;
      z-index: 3;

      &::before,
      &::after {
        content: "";
        background-color: white;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 3px;
        top: 11px;
        transition: all 0.3s ease;
      }

      &_active {
        &::before {
          transform: rotate(45deg);
          top: 11px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 11px;
        }
        & span {
          transform: scale(0);
        }
      }
    }
  }

  .auth_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
  }

  &__link {
    cursor: pointer;
    font-size: 16px;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    @media (max-width: 899px) {
      display: inline-block;
      height: 60px;
    }

    &_wallet {
      position: relative;
      margin-right: 3rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -40px;
        background-image: url("/icons/wallet.png");
        background-repeat: no-repeat;
        display: block;
        width: 32px;
        height: 32px;
      }

      @media (max-width: 899px) {
        &::after {
          top: 6px;
        }
      }
    }

    &_logout {
      margin-left: 2rem;

      @media (max-width: 899px) {
        margin-left: 0;
      }
    }

    &_active {
      text-decoration: underline;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
}
