@import "../../styles/variables.scss";

.header {
  width: 100%;
  height: $header-height;
  background-color: $main-color;
  z-index: 3;

  position: fixed;
  top: 0;
  left: 0;

  color: white;
  padding: 10px;

  &-row {
    display: flex;
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto;

    &__logo {
      width: 35%;
    }
  }

  &-nav {
    width: 65%;
    text-align: right;

    &__link {
      cursor: pointer;
      margin-right: 1.5rem;

      &_wallet {
        position: relative;
        margin-right: 3rem;

        &::after {
          content: "";
          position: absolute;
          top: -8px;
          right: -35px;
          background-image: url("/icons/wallet.png");
          background-repeat: no-repeat;
          display: block;
          width: 32px;
          height: 32px;
        }
      }

      &_logout {
        margin-left: 2rem;
      }

      &_active {
        text-decoration: underline;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 960px;
}
