@import "../../styles/variables.scss";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1024px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  flex: 1;
  overflow: hidden;

  padding-top: calc($header-height + 20px);

  @media (max-width: 900px) {
    padding-top: calc($header-mobile + 15px);
  }
}
