@import "../../styles/variables.scss";

.span-block {
  font-size: 1.2rem;
  border: none;
  height: 30px;
  text-align: left;
  white-space: nowrap;
  background-color: transparent;

  &:focus-visible {
    outline: none;
  }

  &:hover {
    background-color: $main-color;
    color: white;
  }

  &_highlight {
    background-color: $light-color;
    color: white;
  }

  &_attention {
    color: lightcoral;
  }
}
