@import "../../styles/variables.scss";

.auth_card {
  width: 350px;
  height: 300px;

  &__header {
    width: 90%;
    text-align: center;
    border-bottom: 1px solid lightgray;
  }

  .footer {
    margin-top: 10px;
    width: 80%;
    height: 20px;
    text-align: right;
  }

  &__register {
    cursor: pointer;
    font-size: 0.7rem;
    color: $main-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form {
  flex: 1;
  &__item {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    &_rules {
      height: 30px;

      .checkbox {
        width: 15%;
      }

      .rules {
        color: $main-color;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    label {
      width: 30%;
    }
    input {
      width: 70%;
    }
  }
}
