@import "../../styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .audio-block {
    &__audio-player {
    }

    &__audio {
      display: none;
      &::-webkit-media-controls-panel {
        background-color: $main-color;
      }
      &::-webkit-media-controls-mute-button {
      }

      &::-webkit-media-controls-play-button {
        fill: white;
      }

      &::-webkit-media-controls-current-time-display,
      &::-webkit-media-controls-time-remaining-display {
        color: white;
        font-size: 1rem;
        font-weight: 600;
      }

      &::-webkit-media-controls-timeline {
        color: white;
      }
    }
  }
}
