@import "../../styles/variables.scss";

.footer {
  display: flex;
  justify-content: center;
  background-color: $main-color;
  font-size: 16px;
  color: white;
  z-index: 4;

  &__link {
    margin-left: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}
