@import "../../styles/variables.scss";

.footer {
  background-color: $main-color;
  width: 100%;
  font-size: 16px;
  color: white;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1024px;
  padding: 0 20px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 20px;

  &__block {
    > * {
      margin-left: 30px;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
      flex-direction: column;

      &__links {
        margin-top: 10px;
      }
    }

    &__logo {
      font-size: 1.5rem;
    }
  }

  &__link {
    margin-left: 30px;
  }

  .contact {
    &::before {
      display: inline-block;
      content: "";
      width: 32px;
      height: 32px;
      background-image: url("/icons/contacts/icon_telegram.png");
      background-position: center;
      transform: translateY(10px);
      margin-right: 5px;
    }
  }
}
