.profile {
  width: 500px;
  height: 350px;
  position: relative;

  .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    input {
      margin-bottom: 10px;
    }
  }

  &__save {
    width: 150px;

    margin-bottom: 15px;
  }

  &__logout {
    width: 150px;
    cursor: pointer;
  }
}
