@import "../../styles/variables.scss";

.row {
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;

  &_selected {
    background-color: rgba(86, 113, 255, 0.15);
    border-radius: 15px;
  }

  @media (max-width: 900px) {
    width: 100%;
    margin-left: 4%;
  }

  &__cell {
    padding: 10px;
    width: 150px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;

    &_mobile {
      flex: 1;
    }

    .flag {
      width: 50px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;

      &_ru {
        background-image: url("/icons/ru-flag.png");
      }
      &_en {
        background-image: url("/icons/en-flag.png");
      }
    }

    @media (max-width: 900px) {
      &_desctop {
        display: none;
      }
    }

    @media (min-width: 900px) {
      &_mobile {
        display: none;
      }
    }

    &_actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 1;

      @media (max-width: 900px) {
        justify-content: flex-end;
        flex: unset;
        width: 180px;
      }
    }
  }

  &__play-btn {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 11px;
    left: -45px;
    background-size: 40px;

    background-repeat: no-repeat;
    background-image: url("/icons/audio/play.png");

    &_playing {
      background-image: url("/icons/audio/pause.png");
    }
  }

  &__delete,
  &__download {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    height: 45px;
    &_hide {
      display: none;
    }
  }
  &__delete,
  &__download {
    width: 45px;
    background-size: 45px;
    background-position: center;
  }

  &__detect {
    width: 200px;
    background: rgba(61, 5, 218, 0.77);
  }

  &__edit {
    width: 130px;
  }

  &__edit,
  &__detect {
    display: flex;
    cursor: pointer;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    background: rgba(97, 89, 254, 0.6);
    border-radius: 5px;

    @media (max-width: 900px) {
      width: 45px;
      font-size: 0;
    }
  }

  &__download {
    margin-left: 10px;
    background-image: url("/icons/audio/download.png");
  }

  &__delete {
    margin-left: 10px;
    background-image: url("/icons/audio/delete.png");
  }
}
