.contacts {
  width: 300px;
  height: 350px;
  padding: 15px 20px;
}

.fields {
  margin-bottom: 15px;
  flex: 1;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: lightgray;
  }
}

.messengers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 40px;

  &__icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &_fb {
      background-image: url("/icons/contacts/icon_fb.png");
    }

    &_telegram {
      background-image: url("/icons/contacts/icon_telegram.png");
    }
  }
}
