@import "../../styles/variables.scss";

.file-uploader {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;

  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;

    &_disabled {
      background-color: lightgrey;
      pointer-events: none;
    }
  }

  &__btn {
    width: 500px;
    height: 250px;
    background: linear-gradient(
      163.07deg,
      rgba(255, 255, 255, 0.4) -4.6%,
      rgba(255, 255, 255, 0) 101.17%
    );
    color: #fff;
    user-select: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px dashed #ffffff90;
    cursor: pointer;
    margin: 0 auto;

    &:hover,
    &_drag {
      border: 2px solid #ffffff90;
    }

    &_disabled {
      pointer-events: none;
      cursor: auto;
    }

    &__description {
      font-size: 1rem;
    }
  }
}

.icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    &_spin {
      animation: spin 2s infinite linear;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.audio-list {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 90%;
  min-height: 680px;
  width: 100%;

  .caption {
    font-weight: 600;
  }

  .head {
    margin: 10px 0;
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    div {
      text-align: left;
      padding-left: 10px;
      width: 150px;
    }
  }

  @media (max-width: 900px) {
    .caption {
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
    .head {
      display: none;
    }
  }

  .body {
    width: 100%;
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
